.header1{
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


  .d2 {
    width: 50%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(237, 237, 237);
    gap: 40px;
    border-radius: 20px;
    input{
      width: 60%;
      height: 40px;
      border-radius: 10px;
      border: 1px solid black
    }
    .d3 {
      width: 60%;
      min-height:20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
    }
  }



  // .div1 {
  //   width: 50%;
  //   min-height: 500px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   background-color: rgb(237, 237, 237);
  //   gap: 40px;
  //   border-radius: 20px;
  //   text-align: center;
  //   margin-left: 320px;
  //   margin-top: 100px;
    
  // }
  

  select {
    border-radius: 10px;
    width: 300px;
    height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  input {
    border-radius: 10px;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    ::placeholder {
      color: black;
    }
  }
  .btn1 {
    border-radius: 10px;
    width: 200px;
    height: 30px;
  }